@charset "utf-8";
/* CSS Document...Conversion Systems */
/* REF FONT STUFF */

/* add fontface fonts here */
@font-face {
    font-family: 'helvcond';
    src: url('fonts/helvcond-webfont.eot');
    src: url('fonts/helvcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helvcond-webfont.woff') format('woff'),
         url('fonts/helvcond-webfont.ttf') format('truetype'),
         url('fonts/helvcond-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvcondbold';
    src: url('fonts/helvbold.eot');
    src: url('fonts/helvcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helvbold.woff') format('woff'),
         url('fonts/helvbold.ttf') format('truetype'),
         url('fonts/helvbold.svg#HelveticaNeue-CondensedBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvcondital';
    src: url('fonts/helvital.eot');
    src: url('fonts/helvital.eot?#iefix') format('embedded-opentype'),
         url('fonts/helvital.woff') format('woff'),
         url('fonts/helvital.ttf') format('truetype'),
         url('fonts/helvital.svg#HelveticaLTStdCondensedOblique') format('svg');
    font-weight: normal;
    font-style: normal;
}
a {
	color: #e42c00;	
	text-decoration: none;
	transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}


.webfont1 {font-family: 'helvcond', sans-serif;}
.webfont2 {font-family: 'helvcondbold', sans-serif;}
.webfont3 {font-family: 'helvcondital', sans-serif;}
/* floats */

img {
	border: none;	
}

/* floats */

.fleft {float:left;}
.fright {float:right;}
.clear {clear:both;}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


/* FONT VARIANTS */
.text-center {text-align:center !important;}
.text-right {text-align:right !important;}
.bold {font-weight: bold !important;}
.normal {font-weight: normal !important;}
.ital {	font-style: italic !important;}
.invisible {display: none !important;}
.block {display: block !important;}
.scored {text-decoration: underline !important;}
.caps {text-transform: uppercase !important;}
.pad0 {padding-bottom: 0 !important;}
.pad6 {padding-bottom: 6px !important;}
.pad12 {padding-bottom: 12px !important;}
.pad20 {padding-bottom: 20px !important;}
.pad30 {padding-bottom: 30px !important;}
.white {color: #fff !important;}
.black {color: #000 !important;}
.blue {color: #00a9d1 !important;}
.gray {color: #484848 !important;}
.darkgray {color: #303030 !important;}
.red {color: #ef4527 !important;}
.orange {color: #ff3708 !important;}
.margr20 {margin-right: 20px !important;}
.lh19 {line-height: 19px !important;}
.lh {line-height: normal !important;}
.vertmid {vertical-align:middle !important;}

/* fancybox nowrapper */
.nowrapper .fancybox-skin {
	background: none;	
	box-shadow: none;
	-webkit-box-shadow:none;
}


/* FONT SIZES - from 5px - 100px - add class f[x] to an element where x is font size to force a different font size */

.f5 {font-size: 5px !important;}.f6 {font-size: 6px !important;}.f7 {font-size: 7px !important;}.f8 {font-size: 8px !important;}
.f9 {font-size: 9px !important;}.f10 {font-size: 10px !important;}.f11 {font-size: 11px !important;}.f12 {font-size: 12px !important;}.f13 {font-size: 13px !important;}.f14 {font-size: 14px !important;}.f15 {font-size: 15px !important;}.f16 {font-size: 16px !important;}.f17 {font-size: 17px !important;}.f18 {font-size: 18px !important;}.f19 {font-size: 19px !important;}.f20 {font-size: 20px !important;}.f21 {font-size: 21px !important;}.f22 {font-size: 22px !important;}.f23 {font-size: 23px !important;}.f24 {font-size: 24px !important;}.f25 {font-size: 25px !important;}.f26 {font-size: 26px !important;}.f27 {font-size: 27px !important;}.f28 {font-size: 28px !important;}.f29 {font-size: 29px !important;}.f30 {font-size: 30px !important;}.f31 {font-size: 31px !important;}.f32 {font-size: 32px !important;}.f33 {font-size: 33px !important;}.f34 {font-size: 34px !important;}.f35 {font-size: 35px !important;}.f36 {font-size: 36px !important;}.f37 {font-size: 37px !important;}.f38 {font-size: 38px !important;}.f39 {font-size: 39px !important;}.f40 {font-size: 40px !important;}.f41 {font-size: 41px !important;}.f42 {font-size: 42px !important;}.f43 {font-size: 43px !important;}.f44 {font-size: 44px !important;}.f45 {font-size: 45px !important;}.f46 {font-size: 46px !important;}.f47 {font-size: 47px !important;}.f48 {font-size: 48px !important;}.f49 {font-size: 49px !important;}.f50 {font-size: 50px !important;}.f51 {font-size: 51px !important;}.f52 {font-size: 52px !important;}.f53 {font-size: 53px !important;}.f54 {font-size: 54px !important;}.f55 {font-size: 55px !important;}.f56 {font-size: 56px !important;}.f57 {font-size: 57px !important;}.f58 {font-size: 58px !important;}.f59 {font-size: 59px !important;}.f60 {font-size: 60px !important;}.f61 {font-size: 61px !important;}.f62 {font-size: 62px !important;}.f63 {font-size: 63px !important;}.f64 {font-size: 64px !important;}.f65 {font-size: 65px !important;}.f66 {font-size: 66px !important;}.f67 {font-size: 67px !important;}.f68 {font-size: 68px !important;}.f69 {font-size: 69px !important;}.f70 {font-size: 70px !important;}.f71 {font-size: 71px !important;}.f72 {font-size: 72px !important;}.f73 {font-size: 73px !important;}.f74 {font-size: 74px !important;}.f75 {font-size: 75px !important;}.f76 {font-size: 76px !important;}.f77 {font-size: 77px !important;}.f78 {font-size: 78px !important;}.f79 {font-size: 79px !important;}.f80 {font-size: 80px !important;}.f81 {font-size: 81px !important;}.f82 {font-size: 82px !important;}.f83 {font-size: 83px !important;}.f84 {font-size: 84px !important;}.f85 {font-size: 85px !important;}.f86 {font-size: 86px !important;}.f87 {font-size: 87px !important;}.f88 {font-size: 88px !important;}.f89 {font-size: 89px !important;}.f90 {font-size: 90px !important;}.f91 {font-size: 91px !important;}.f92 {font-size: 92px !important;}.f93 {font-size: 93px !important;}.f94 {font-size: 94px !important;}.f95 {font-size: 95px !important;}.f96 {font-size: 96px !important;}.f97 {font-size: 97px !important;}.f98 {font-size: 98px !important;}.f99 {font-size: 99px !important;}.f100 {font-size: 100px !important;}

html, body {height: 100%;width: 100%;}
h1,h2,h3,h4,h5 {font-weight: normal;}
div {position:relative;}

* {
	margin: 0;
	padding: 0;	
	font-family: arial, sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body {
	background: url(../content/images/woodtile.jpg) repeat #49210b center center;
	color: #676767;
	font-size: 13px;
}

.container {
	width: 950px;
	margin: 0 auto;
	background: #fff;
}
.page {
	background: #fff;	
}

.header {
	width: 100%;
}

.nav {
	background: url(../content/images/header_bg.jpg) repeat-x;
	height: 47px;	
}

.nav_cart {
	background: url(../content/images/header2_bg.jpg) repeat-x;
	height: 17px;	
	
}

.nav_content {
	width: 950px;
	margin: 0 auto;	
}

.headline {
	width: 950px;
	margin: 0 auto;	
}

.header img {
	display: block;	
}

.header_phone {
	position: absolute;
	left: 679px;
	top: 13px;
	width: 258px;
}

.left {
	width: 637px;
	padding: 35px 63px 35px 35px;	
	float:left;
}

.right {
	float:left;
	width: 310px;
	padding-top: 21px;
}

.left a {
	text-decoration: underline;	
	color: #e42c00;
}

.left p {
	padding: 0 0 20px 0;
	line-height: 21px;	
}

.left h2, h2 {
	color: #2d2d2d;
	font-size: 38px;
	padding: 0 0 20px 0;
	text-transform: uppercase;
	font-family: 'helvcond', sans-serif;	
}

.footer {
	padding: 14px 0 30px 0;
	width: 950px;
	margin: 0 auto;
}

.footer p {
	color: #fff;
	line-height: 19px;	
	font-size: 12px;
	padding-bottom: 20px;
}

.footer a {
	color: #fff;
	text-decoration: underline;
	margin: 0 6px;
}

.footer .social a {
	margin: 0 1px;	
}
.footer .social img {
	vertical-align:middle;	
}
.bottomcta {
}

.home1 {
	position: absolute;
	left: 34px;
	top: 131px;
	width: 544px;
	height: 271px;
}

.home2 {
	position: absolute;
	left: 392px;
	top: 606px;
	height: 314px;
	width: 237px;
}

.home3 {
	position: absolute;
	left: 1px;
	top: 82px;
	height: 382px;
	width: 949px;
}

.home4 {
	position: absolute;
	left: 10px;
	top: 574px;
	height: 568px;
	width: 930px;
}

.home5 {
	position: absolute;
	left: 7px;
	top: 1232px;
	height: 1351px;
	width: 942px;
}
.home2 ul  {
	margin-left: 20px;	
}
.home2 ul li {
	color: #ff3708;
	font-size: 14px;
	line-height: 20px;
	padding-bottom: 15px;
}

.home2 ul li span {
	color: #676767;
}


.bull li {
	list-style: none;
	padding-left: 10px;
	padding-bottom: 30px;
	background: url(../content/images/home_bullet2.png) no-repeat 0 5px;	
}

.left .hangingindent {
    padding-left: 22px ;
    text-indent: -8px ;
}


/* FAQ COLLAPSE/EXPAND STYLES */

.left .faqanswer {
	display: none;
	width: 540px;
	background: #e5e5e5;
	padding: 12px 20px 0 30px;	
}

.left .faqanswer p {
	font-size: 13px;
	line-height: 17px;	
}

.left .faqanswer a {
	text-decoration: none;
	color: #333;	
}


.left .togglefaq {
	text-decoration: none;
	color: #333;
	font-size: 13px;
	padding: 10px 30px;
	line-height: 20px;
	display: block;
	border: 1px solid #d0d0d0;
	width: 540px;
	margin-bottom: -1px;
}
.icon-plus {
	color: #ff3708;
	margin-right: 20px;
	font-size: 20px;
	float:left;
}

.icon-minus {
	color: #ff3708;
	margin-right: 20px;
	font-size: 20px;
	float:left;
}

/* testimonial video stuff */


.video_list {
	float: left;
	width: 95px;
	margin-right: 14px;
}

.video_list ul {
	list-style: none;
	margin-left: 0;
}

.video_list img {
	display: block;
	margin-bottom:8px;
}

.test1, .test2, .test3 {
	cursor: pointer;
}
.videocontainer {
	width: 424px;
	height: 241px;
}
.video_right {
  float: left;
  width: 424px;
}

.quote1 {
	background: url(/content/images/openquote.jpg) no-repeat 0 0,url(/content/images/closequote.jpg) no-repeat bottom right;
	padding: 0 40px 0 40px;
	margin-bottom: 30px;
}	

.quote2 {
	background: url(/content/images/openquote.jpg) no-repeat 0 0,url(/content/images/closequote.jpg) no-repeat bottom right;
	padding: 0 40px 30px;
	width: 422px;
	float:left;
	margin-bottom: 30px;
}	

.videosmall {
float:left;
margin: 0 8px 30px;
width: 300px;
}

.testblock {
	float:left;
	margin: 0 16px 32px;
	width: 277px;	
	padding: 10px;
	height: 276px;
}

.testblock p {
	font-family: 'helvcondbold', sans-serif;
	font-size: 20px;
	line-height: normal;
	color: #fff;	
}

.blockauthor {
	position:absolute;
	bottom: 25px;	
	text-align:right;
	font-family: 'helvcondbold', sans-serif;
	font-size: 20px;
	width: 245px;
	line-height: normal;
	color: #fff;
}

.graybg {
	background: #484848;	
}

.orangebg {
	background: #ff3708;	
}
/* CONTACT FORM */

#contact_form .address_table {
	color: #717171;
	font-size: 12px;
}

#contact_form .address_table td {
	padding: 5px;
}

#contact_form .address_label {
	clear: both;
	display: block;
	font-size: 11px;
}

#contact_form .address_input {
  border: 1px solid #b2b2b2;
  color: #717171;
  font-size: 14px;
  padding: 4px;
  width: 176px;
}
#contact_form .address_input2 {
  border: 1px solid #b2b2b2;
  color: #717171;
  font-size: 14px;
  height: 110px;
  width: 366px;
  padding:  4px;
}

#contact_form .error {
	color: red;
	font-size: 11px;	
}

#contact_form .submit_btn {
	text-align:right;
	height: 90px;
}

#contact_form {
	position:relative;
	width: 380px;
}

/* RECEIPT 1 */

#receipt_table1 td, #receipt_table2 td {
	padding: 20px;	
	line-height: 20px;
}

#receipt_table1 .horzline1 td {
	border-bottom: 1px solid #000;	
}

#receipt_table1 .horzline2 td {
	border-top: 1px solid #000;	
}

#receipt_table1 {
	margin-bottom: 50px;	
}
#receipt_table2 {
	background: #f2f2f2;	
	width: 719px;
	margin: 0 auto;
	border-radius: 20px;
	-webkit-border-radius:20px;
}

/* CONVERSION CARTS */

/* -----CART B----- */
.freeshipcall {
  left: -52px;
  position: absolute;
  top: 84px;
}
.freeshipcall2 {
  left: 120px;
  position: absolute;
  top: -10px;
}
.cart_content_B {
	position:relative;
	display:block;
	width: 900px;
	margin: 0 auto;	
	padding-top: 20px;
}

.cart_left h2 {
	color: #2d2d2d;
	font-size: 38px;
	padding: 0 0 20px 0;
	font-family: 'helvcond', sans-serif;	
}

.cart_right h2 {
	color: #2d2d2d;
	font-size: 38px;
	padding: 0 0 20px 0;
	font-family: 'helvcond', sans-serif;	
}

.basket_title {
	font-size: 14px;
	font-weight: bold;
	color: #464646;	
}

.basket_description {
	font-size: 11px;
	
}

.cart_table {
	display:block;
	width: 580px;
	color: #464646;
	margin-bottom: 20px;
	position:relative;	
}

.cart_image {
	float:left;
	position:relative;
	width: 120px;	
	font-weight: bold;
}
.cart_image img {
	max-width: 120px;	
}
.cart_text {
  float: left;
  padding: 0 20px;
  position: relative;
  width: 250px;
}
.cart_select {
  float: left;
  position: relative;
  text-align: center;
  font-weight: bold;
  width: 135px;
}

.product_price {
	float:left;
	position:relative;
  font-weight: bold;
	width: 64px;	
}

.cart_totals {
  display: block;
  position: relative;
	width: 580px;
	font-weight: bold;
}

.cart_totals_left {
  float: left;
  margin-left: 426px;
  position: relative;
  width: 80px;
}

.cart_totals_right {
	position:relative;
	float:left;
	width: 64px;	
}

.cart_left {
	position:relative;
	width: 580px;
	color: #464646;
	font-size: 13px;
	float:left;
	margin-right: 20px;
}

.cart_right {
	position:relative;
	width: 300px;
	float:left;
}

.cart_offer {
  font-size: 12px;
  line-height: 16px;
  padding-top: 40px;
}
.horizontal_dots {
	height: 1px;
	margin: 10px 0;
	border-top: 1px solid #464646;	
}

.vertical_dots {
	position:relative;
	float:left;
	width: 1px;
	height: 370px;
	margin: 0 20px 0 20px;
	border-right: 1px dotted #cccccc;	
}

.cartB {
	width: 297px;
	border: 1px solid #d7d7d7;
	margin-bottom: 30px;
	position:relative;
}

.fixWidth {
	width: 100%;
	margin-bottom: 15px;
}
.fixWidth td {
	text-align:center;
}
.cartB .form_line {
	position:relative;
	width: 260px;
	display:block;
	margin: 0 auto;
	padding-bottom: 12px;
}
.cartB .form_line_btn {
  display: block;
  padding: 10px 0;
  position: relative;
  text-align: center;
  width: 260px;
  margin:  0 auto;
}
.cartB .form_line_guarantee {
  color: #000000;
  display: block;
  font-size: 15px;
  position: relative;
  text-align: center;
  width: 260px;
  margin:  0 auto;
  padding:  0 0 10px 0;
}
.cartB .form_line_guarantee a {
	color: #000000;
	text-decoration: underline;
}
.cartB .label-1 {
	float:left;
	position:relative;
	width:100px;
	color: #2c2c2c;
	padding-top: 2px;
}
.cartB .label-2 {
  float: left;
  font-size: 12px;
	color: #2c2c2c;
  position: relative;
  width: 233px;
}
.cartB .label-3 {
	position:relative;
	width: 260px;
	color: #2c2c2c;
}
.cartB .checkbox-right {
	float:left;
	margin-left: 10px;
	position:relative;
}
.cartB .checkbox-left {
	float:left;
	margin-right: 4px;	
}
.cartB .text-1 {
  float: left;
  height: 25px;
  padding: 4px;
  position: relative;
  width: 159px;
}
.cartB .text-2 {
	width: 90px;
	height: 25px;
	padding: 4px;
}
.cartB .text-3 {
	width: 74px;
	float:left;
	height: 25px;
	padding: 4px;
	margin-right: 6px;
}
.cartB .text-4 {
	width: 40px;
	float:left;
	height: 25px;
	padding: 2px;
	margin-right: 6px;
}

.cartB .error-1 {
	position:relative;
	margin-left: 100px;
	font-size: 11px;
	color: #ff0000;
}
.cartB .error-2 {
	position:relative;
	font-size: 11px;
	color: #ff0000;
}

.cartB .cvv {
	color: #00a9d1;
	font-size: 12px;
	text-decoration: underline;
}


/* upsells */
.page_upsell {
  background: none repeat scroll 0 0 #FFFFFF;
  padding: 20px 30px 40px;
}
.page_upsell h2 {
	color: #ff3708;
	padding-bottom: 30px;
	font-size: 40px;
	text-transform: uppercase;
	font-family: 'helvcond', sans-serif;	
}

.page_upsell p {
	line-height: 20px;
	padding-bottom: 20px;
	font-size: 13px;	
	color: #333839;
	
}

.ask {
	font-size: 24px;
	font-weight: bold;
	line-height: normal;
	color: #454746;
	padding-top: 40px;
	display: inline-block;	
}

.btns {
	text-align:right;
	display: block;	
	padding-top: 10px;
	position:relative;
	padding-right: 46px;
}
.btns a {
	display: inline-block;
}

.upsell_error {
	color: red;
	font-size: 12px;
	padding: 10px 0;	
}

.page_upsell .error {
	color: red;
	margin: 0 6px;	
	font-size: 12px;
}

.ask_arrow {
  background: url("/content/images/upsell_arrow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 78px;
  position: absolute;
  right: -30px;
  width: 69px;
  top:  -14px;
}

.sub1 {
	position:relative;
	bottom: 3px;
	font-size: 10px;	
}

.slidecontainer {
	border: 15px solid #d7d7d7;
	margin-bottom: 30px;
	overflow:hidden;	
}

.slides {
	height: 472px;
	overflow:hidden;
	width: 920px;
}	

.slide {

}


.slide h2 {
	padding-bottom: 60px;	
	padding-top: 34px;
}

.slide h3 {	
	color: #2d2d2d;
	font-size: 24px;
	padding: 0 0 30px 0;
	font-family: 'helvcond', sans-serif;	
	
}

.slide p {
	line-height: 21px;	
}
.prev {
	position:absolute;	
	left: 6px;
	top: 220px;
	cursor: pointer;
	z-index: 10000;
}

.next {
	position:absolute;	
	right: 6px;
	top: 220px;
	cursor: pointer;
	z-index: 10000;
	
}

.navthumbs {
	position:absolute;
	bottom: 30px;
	left: 93px;
	z-index: 100000;
}

.navthumbs a {
	display: inline-block;
	width: 17px;
	height: 17px;
	line-height: 17px;
	vertical-align:middle;
	font-weight: bold;
	font-size: 12px;
	margin-right: 7px;
	text-align:center;
	background: #d9d9d9;
	color: #636363;
}
.navthumbs a.activeSlide {
	background: #ff3708;
	color: #ffffff;
	
}

#guarantee {
	background: #fff;
}

#guarantee p {
	line-height: 20px;	
}